{% extends "base.html" %}

{% block title %}Participants and Projects - Accelerometer Data{% endblock %}

{% block content %}
    <!-- Participants Grid -->
    <div class="row" id="projects-grid">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 100%;"> 
            <span class="fs-5 fw-semibold">Projects</span>
        </div>
    </div>

    <!-- Rename Project Modal -->
    <div class="modal fade" id="renameProjectModal" tabindex="-1" aria-labelledby="renameProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameProjectModalLabel">Rename Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="newProjectNameInput" class="form-label">Project Name</label>
                        <input type="text" class="form-control" id="newProjectNameInput" placeholder="Enter new project name" oninput="clearRenameError()">
                        <input type="hidden" id="renameProjectId">
                    </div>
                    <div id="renameError" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="renameProject()">Rename</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="module" src="/static/projects.js"></script>
{% endblock %}

