{% extends "base.html" %}

{% block title %}Participants and Projects - Accelerometer Data{% endblock %}

{% block content %}
    <!-- Participants Grid -->
    <div class="row" id="projects-grid">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 100%;"> 
            <span class="fs-5 fw-semibold">Projects</span>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="module" src="/static/projects.js"></script>
{% endblock %}

